/* CSS Reset */

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-color: mintcream;
}

/* Title */

.title {
  margin: 10px 0;
  text-align: center;
  font-size: 50px;
}

/* Two Modes Container */

.two-modes-container {
  margin: 200px auto;
  width: 600px;
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.two-modes-container .select-mode-title {
  width: 100%;
  text-align: center;
  font-size: 40px;
}

.two-modes-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  padding: 20px 5px;
  transition: 0.3s;
  border: 5px solid black;
  border-radius: 10px;
  cursor: pointer;
  flex: 1;
}

.two-modes-container div:hover {
  background-color: lightblue;
}

/* Turn Box */

#container,
#turn-box {
  display: none;
}

.turn-box {
  position: relative;
  width: 380px;
  height: 50px;
  border: 2px solid black;
  margin: 0 auto 25px;
  display: none;
}

.turn-box * {
  display: inline-block;
  border: 2px solid black;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  flex: 1;
}

.turn-box::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: skyblue;
  z-index: -9999;
  transition: 0.3s;
}

.turn-box.x-turn::after {
  left: 0;
}

.turn-box.o-turn::after {
  left: 50%;
}

.turn-box.ended::after {
  display: none;
}

/* Container */

.container {
  position: relative;
  width: 480px;
  height: 470px;
  border: 5px solid black;
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-content: stretch stretch;
  place-items: stretch stretch;
  margin: auto;
  font-weight: bold;
}

.container .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  border: 5px solid black;
  font-size: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.container .cell.filled {
  font-size: 100px;
}

.container .cell:hover {
  background-color: skyblue;
}

.container.ended::after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}

/* Restart Button */

.restart {
  display: none;
  margin: 20px auto 0;
  font-size: 30px;
  border-radius: 10px;
  border: 5px solid black;
  cursor: pointer;
}

.restart a {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  flex: 1;
}

.restart.game-over {
  display: flex;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1336px) {
  .turn-box {
    width: 270px;
    font-size: 15px;
  }

  .turn-box * {
    line-height: 50px;
  }

  .container {
    width: 400px;
    height: 390px;
  }

  .container .cell.filled {
    font-size: 60px;
  }

  .restart {
    border-width: 3.5px;
  }

  .restart a {
    padding: 8px 13px;
    font-size: 30px;
  }

  .two-modes-container {
    width: 500px;
  }

  .two-modes-container .select-mode-title {
    font-size: 35px;
  }

  .two-modes-container div {
    font-size: 25px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .turn-box {
    width: 270px;
    font-size: 15px;
  }

  .turn-box * {
    line-height: 50px;
  }

  .container .cell.filled {
    font-size: 60px;
  }

  .restart {
    border-width: 3.5px;
  }

  .restart a {
    padding: 8px 13px;
    font-size: 30px;
  }

  .two-modes-container {
    width: 420px;
  }

  .two-modes-container .select-mode-title {
    font-size: 30px;
  }

  .two-modes-container div {
    margin-top: -30px;
    padding: 15px 10px;
    font-size: 20px;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  .turn-box {
    width: 210px;
    height: 50px;
    font-size: 20px;
  }

  .turn-box * {
    line-height: 50px;
  }

  .container {
    width: 300px;
    height: 270px;
  }

  .container .cell.filled {
    font-size: 50px;
  }

  .restart {
    border-width: 3.5px;
  }

  .restart a {
    font-size: 20px;
  }

  .two-modes-container {
    width: 250px;
  }

  .two-modes-container .select-mode-title {
    text-align: center;
    margin-bottom: 5px;
  }

  .two-modes-container div {
    margin: 10px;
    padding: 20px 30px;
  }
}
